
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">Who is Kris Thode?</h1>

<div class="container-fluid">
    <h4>A mom of one wild toddler, with a strong desire for another (I know right, who wants another when dealing with a TODDLER of all beasts?).
    </h4>
    <p>Let's get more real now...</p>
    <p>I am a down to earth, creative mind with a strong heart. I love to help, whether it be friends, family, or teammates. After 7 surgeries, you will find that I am still kicking strong, and resilient not just 
        in body, but in mind. 
    </p>
    <p>Painting, drawing, epoxy projects, and house projects are some of my favorite creative outlets apart from technology where permitted FREE</p>
    <p>Halloween is my favorite season/holiday. Heck, if it were sensible to dress spooky and fun all year round, I would! (Black and dark colors are not your friend in the summer....I'm not goth, halloween is just..dark)</p>
    <p>I love to attend anime raves, and other anime events, or just meet up with friends for various activities. The sky is quite literally the limit (sky diving is EXPENSIVE YO). Rock climbing is baller, skating in multiple forms 
        is wonderful, biking is thrilling, bowling is a blast, shall I keep going?
    </p>
    <p>I'm smart... sometimes.... Friends come to me for advice, especially in the professional sense. Sometimes relationship wise. But really, my smarts demonstrate themselves in being the sole owner of a beautiful house, and 2 cars.
        If I made it this far at only 28, I think it's safe to say I've maybe got a good head on my shoulders. 
    </p>
</div>

