@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1>Hello, and Welcome to my very basic little .net bootstrap web app!</h1>

    <h3 class="pt-3">What will you find here?</h3>
    
    <div class="entry-content pt-2">
        <ul>
            <li class="pt-2">An About Me page that has a little info on WHO I am...</li>
            <li class="pt-2">A Professional Profile page containing info about my experience and skills...</li>
            <li class="pt-2">A set of external links to my LinkedIn, possibly some github-links to my personal projects, and some baseline web pages made using other technologies as I explore and complete them</li>
            <li class="pt-2">A whole lotta white space on this home page until I decide what to do with it!</li>
        </ul>
    </div>
</div>

