@{
    ViewData["Title"] = "Professional Profile";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<h6 class="text-center pt-2">Graduated from Purdue University Global with a BSIT (Bachelor of Science in Intformation Technology) 
    in 2020 with a GPA of 3.98
</h6>
<h6 class="text-center pt-1">Strong focus in software/web development, all things data, and project management</h6>
<div class="container-fluid pt-2">
    <div class="row">
        <div class="col">
            <h3>Professional Experience</h3>
        </div>
        <div class="col">
            <h3>Skills</h3>
        </div>
    </div>
    <div class="row">
        <div class="col d-grid gap-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#gm">
                General Motors| Software Developer| March 2022 - Sep 2024</button>
                <div id="gm" class="collapse">
                    <p>
                        At GM, I was responsible for the development/maintenance of a an event-driven application that utilized multiple services
                        to create a desired output, and send that same event down the line to the next receiving application.
                    </p>
                    <p>This application handled up to a million transactions per day!</p>
                    <p>
                        My fellow devs worked together to redesign, rebuild, and fully deploy this application using the same technologies as we started with,
                        but with intent to make the application more organized, efficient, and reliable for error tracking.
                    </p>
                    <p>Not long later, we were under pressure to utilize Microsoft Azure, where I took the time to become certified in Fundamentals!</p>
                    <p>
                        After this certification, I took upon myself the task of completely redeveloping the application once again, this time learning python
                        to enable other devs in our team to perform work on the application in the future. My work connected multiple Azure services together
                        using python to recreate our functionality. And finally, before the reduction, I was able to reconfigure this python app to work for ACA using Flask.
                        A task I was told was not needed for some time, however, I found that removing many of the issues faced with the present configuration of services
                        would be most beneficial for the teams success, and the company's success.
                    </p>
                    <h6>Fun Fact - even after no longer being employed, I dedicated myself to helping my leader ensure success could be achieved with the new Flask app</h6>
                </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#uwm">
                United Wholesale Mortgage | Multiple Roles | June 2020 - March 2022</button>
                <div id="uwm" class="collapse">
                    <p>At UWM I held 3 different roles...</p>
                    <p>As a Software Developer Trainee, my role was to learn the ins and outs of software development using .net console applications
                        with the language of C#. Following completing this training, was further training into mvc applications, and lovely quality engineering.
                    </p>
                    <p>After completing the training program to get a hands on for what the program is about, I demonstrated a strong capability to be a trainer,
                        and was awarded the role of a Software Developer Technical Trainer! As a Technical trainer, I facilitated trainings, exams, coaching sessions, 
                        and so fourth. Keeping the program up-to-date, maintaining the schedule, and occassionally facilitating interviews for the hire of future potential learners
                        was also another set of duties as a trainer. Trainers did not just teach, but were also people leaders.
                    </p>
                    <p>Lastly, I stepped down from the trainer role for a bit to get my feet wet on the floor of devs to ensure my skills are fully dated, and be
                        able to come back to training later with recommendations for updates that will better suit future learners to be set for their careers.
                    </p>
                    <p>Unfortunately, at the time, UWM had made the decision to require all personell in office all 5 days a week. And for someone with a series of 
                        cervical disc herniations during this time, driving was ill permitted and I would have to be out of office more often than in. Time was of the essence
                        for a change of pace.
                    </p>
                    <h6>Fun Fact - One of the 7 surgeries mentioned in About Me was a full disc replacement of the exact herniated disc that ended my career at UWM!</h6>
                </div>

        </div>
        <div class="col">
            <div class="entry-content">
                <ul>
                    <li class="pt-1">Full Stack Software Development/Engineering</li>
                    <li class="pt-1">Programming Languasges: C#, Python, Java, SQL, NoSQL, HTML, CSS</li>
                    <li class="pt-1">Data Science, Database Management, Data Modeling, Data Entry</li>
                    <li class="pt-1">Azure Cloud Services/Development</li>
                    <li class="pt-1">Frameworks: .Net, Flask, Bootstrap, Springboot, REACT</li>
                    <li class="pt-1">Technical Training</li>
                    <li class="pt-1">Technical Writing</li>
                    <li class="pt-1">Problem Solving/Troubleshooting</li>
                    <li class="pt-1">Docker</li>
                    <li class="pt-1">Strong adaptability to new technologies</li>
                    <li class="pt-1">Very detail oriented</li>
                    <li class="pt-1">High sense of Business Acument (I won't just do as you ask...I will ask all the w's!)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

